{
  "extends": "@react-native-community",
  "rules": {
    "quotes": [2, "single", { "avoidEscape": true }],
    "no-console": 1,
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
